<ul class="elements-container">
  <li class="element set-element col-1" draggable="true" (dragstart)="drag($event, 'fieldset')">Сет с одной колонкой
  </li>
  <li class="element set-element col-2" draggable="true" (dragstart)="drag($event, 'fieldset')">Сет с двумя
    колонками
  </li>
  <li class="element set-element col-3" draggable="true" (dragstart)="drag($event, 'fieldset')">Сет с тремя
    колонками
  </li>

  <ng-container *ngFor="let field of fields">
    <app-field-element [config]="field"></app-field-element>
  </ng-container>
</ul>
